
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(109, 162, 162);
  padding: 10px;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 3px 3px 2px rgb(76, 107, 100, 0.5);
}

button {
  cursor: pointer;
  background-color: rgb(74, 69, 78);
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 20px;
  color: rgb(231, 227, 204);
  border-radius: 6px;
  height: 50px;
  transition: all 0.3s ease-in-out 0s;
}

.btn {
  min-width: 50px;
  border: 1.5px solid rgb(213, 206, 206);
  box-shadow: 2px 2.5px 2px black;
  margin-right: 6px;
}

.btn[data-code="Space"] {
  font-size: 0px;
  width: 362px;
}

.keyboard-row {
  display: flex;
  margin-bottom: 6px;
}

.keys-row:last-child {
  margin-bottom: 0px;
}

.btn[data-code="ShiftLeft"],
.btn[data-code="ShiftRight"],
.btn[data-code="Enter"] {
  width: 130px;
}

.textarea {
  width: 100%;
  min-height: 200px;
  justify-content: center;
  margin-bottom: 30px;
}

textarea{
  padding: 6px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.upper {
  text-transform: uppercase;
}

.active {
  background-color: rgb(39, 41, 56);
  position: relative;
  top: 2px;
  box-shadow: 0.5px 0 0 black;
}